
<!DOCTYPE html>
<html>

<head>
  <title>Add New Genre</title>
</head>

<body>

  <div>
    <a href="/songs">Back To All Songs</a><br>
  </div>

  <h1>Add New Genre</h1>
  <form action="/genres" method="post">

    <div>
      <label for="genre_name">Genre Name:*</label>
      <input id="genre_name" type="text" name="genre_name" required>
    </div>
    
    <input type="submit">

  </form>

<div>
* Required Field<br>
</div>

<br>

</body>

</html>
