
<!DOCTYPE html>
<html>

<head>
  <title>Add New Song</title>
</head>

<body>

  <div>
    <a href="/songs">Back To All Songs</a><br>
  </div>

  <h1>Add New Song</h1>
  <form action="/songs" method="post">

    <div>
      <label for="song_name">Song Name:*</label>
      <input id="song_name" type="text" name="song_name" required>
    </div>

    <div>
      <label for="artist">Artist:*</label>
      <input id="artist" type="text" name="artist" required>
    </div>

    <div>
      <label for="album">Album:</label>
      <input id="album" type="text" name="album">
    </div>  

    <div>
      <label for="genre_id">Genre:*</label>
      <select id="genre_id" name="genre_id" required>
        <option value=""></option>
        <% @all_genres.each do |genre| %>      
          <option value="<%= genre.genre_id %>"><%= genre.genre_name %></option>
        <% end %>
      </select>
      <a href="/genres/new">Add New Genre</a>
    </div> 
    

    <input type="submit">

  </form>

<div>
* Required Field<br>
</div>

<br>

</body>

</html>
