
<!DOCTYPE html>
<html>

<head>
  <title>Add New Song</title>
</head>

<body>

  <h1>Add New Song</h1>
  <form action="/songs" method="post">

    <div>
      <label for="song_name">Song Name:</label>
      <input id="song_name" type="text" name="song_name">
    </div>

    <div>
      <label for="artist">Artist:</label>
      <input id="artist" type="text" name="artist">
    </div>

    <div>
      <label for="album">Album:</label>
      <input id="album" type="text" name="album">
    </div>  

    <div>
      <label for="genre_id">Genre:</label>
      <select name="genre_id">
        <option value="1">Electronic</option>
        <option value="2">Hip Hop</option>
        <option value="3">Pop</option>
        <option value="4">R and B</option>
        <option value="5">Rap</option>
        <option value="6">Rock</option>
      </select>
    </div>

    <input type="submit">

  </form>

</body>

</html>
